Might need Request-Tag on Block2 follow-ups to keep streams apart

Going through RFC7959 Section 2.7 for implementation, I noticed that Block2 exchanges after a Block1 exchange do not carry a Block1 option any more.

For Request-Tag, this has no bearing on security (if two operations' results share an ETag, so be it), but it has one for simultaneous requests ("what we suggest that OSCORE-unaware proxies should do to avoid large latencies"): If a second operation leaves the Block1 phase while the first is still in Block2 phase, the requests arrive at the server indistinguishably (violating the "MUST be performed sequentially" part).

The most likely fix is that we simply set Request-Tag on Block1-follow-ups too, and extend the operation conclusion to the end of any Block2 phase. This entails some re-wording as to where it can be used, as we're borrowing much from Block1 now in the option description.

Working through this, I'm becoming more aware of the circumstance that with the Partial IV now being encoded in the (Cache-Key) Object-Security field, the need to allow concurrent operations on the same resource goes away for the OSCORE application (proxies can now tunnel multiple outer-blockwise w/o help from the OSCORE).

I'm going through 7959 once again to check my perception of how things work, but if it is correct, I'm tempted to move the simultaneous-operations application into an appendix (where it'd be OK if it's dropped altogether if the concept frightens people).